/*  ==== JAVASCRIPT COLOR CLOCK - STYLE ====  */

* { 
  margin: 0; 
  padding: 0; 
  }

  html, body {
    height: 100%;
  }
  
  #clock {
    text-align: center;
    position: relative;
    top: 50%;  /* OR ~ bottom: -50%; */
    font-family: 'Playfair', serif;
    font-size: 6rem;
    margin-top: -3rem;
    color: yellow;
  }

/*  ==== END STYLE ====  */